@font-face {
  font-family: Firs;
  src: url("./assets/Fonts/Firs/TTFirsNeue-DemiBold.ttf") format("truetype"),
         /* url("/fonts/OpenSans-Regular-webfont.woff") format("woff"); */
 }

.btm-nav-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0
}

.btm-nav {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding: 4.7%;
  border: 1px solid grey;
}

a {
  color: grey;
  text-decoration: none; /* no underline */
}

img {
  width: 100%;
}

.comm-btn {
  width: 84%;
  height: 90px;
  font-size: 34px;
  background: linear-gradient(0.25turn, rgb(22, 255, 0), rgb(77, 255, 201));
  border-radius: 21px 21px 0 0;
  border: none;
  font-family: "Firs, serif";
}
